.jumbotron {
    background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_1203-11307.jpg?size=626&ext=jpg)
}
 .statement {
  float: left;
  font-family: 'Hind', sans-serif;
  font-weight: bold;
} 
.lead {
    font-family: 'Playfair Display SC', serif;
    color: 	#202020;
}

.welcome {
    font-family: 'Playfair Display SC', serif;
    font-weight: bold;
}